body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
}
.carousel {
    margin-bottom: 4rem;
}
.carousel-caption{
    bottom: 3rem;
}
.carousel-item-color{
    background-color: #1a1e21;
}
.carousel-item-alignment{
    text-align: center;
}
.carousel-image-scaling{
    max-height: 70vh;
    max-width: 100vw;
}
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
.marketing .col-lg-4 p {
    margin-left: .75rem;
    margin-right: .75rem;
}